<!-- Why Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2><br />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>We are a group of Black and People of Color in Tech (BPoCiT) that meets in Berlin to learn coding together. Some of us are friends and friends of our friends. <strong>At the moment we are taking a break due to lack of time but will continue with our project group as soon as our capacities allow.</strong> </p>
                  <p>The purpose of our BPoCiT study group is to offer a <strong>safer space for beginners</strong> with no to little knowledge of <strong>computer science, web development</strong> and <strong>web design</strong>. This study group aims to empower and motivate <strong>Queer_ Trans_ Inter_ Black & People of Color/Black and People of Color</strong> (QTIBPOC/BPOC) to <strong>get into coding</strong>, having fun time together and to ask any questions without fear and rush. People that are descended from mixed backgrounds are very much welcome to join our group as well.</p>
                  <p>Our general concept is to meet, hang out together and to learn from another in a relaxed environment - each at their own interest, pace and speed. From time to time we will offer workshops on specific topics either facilitated by us or external guests.</p>
                  <p>To ensure an effective learning environment, our hosting spaces are limited to max. 12 people for which we ask you to register via our <a href="#contact">contact page</a>. Please find all dates in our <a href="#events">events calendar</a>.</p>
                </div>
              </div>
        </div>
    </section>
