<!-- Why Section -->
    <section id="about" class="bg-light-slate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2><br />
                    <!-- <h3 class="section-subheading text-muted">It gives us a tool to become more independent for our own ideas. </h3>
                </div> -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>The purpose of our BPoCiT study group is to offer a <strong>safer space for beginners</strong> with no to little knowledge of <strong>computer science, web development</strong> and <strong>web design</strong>. This study group aims to empower and motivate <strong>Queer_ Trans_ Inter_ Black & People of Color/Black and People of Color</strong> (QTIBPOC/BPOC) to <strong>get into coding</strong>, having fun time together and to ask any questions without fear and rush.</p>
                  <p>Our general concept is to meet, hang out together and to learn from another in a relaxed environment - each at their own interest, pace and speed.</p>
                  <p>The initial group is located in Berlin and meets twice a month. From time to time we will offer workshops on specific topics either facilitated by us or external guests.</p>
                  <p>To ensure an effective learning environment, our hosting spaces are limited which is why we ask you to RSVP for each session via our <a class="page-scroll" href="#events">Events Calendar</a>.</p>
                </div>
              </div>
        </div>
    </section>
