<section id="coc" class="bg-lightblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Code of Conduct</h2>
                <h3 class="section-subheading">for Communities of Color Events</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="container">
                <h3>Preface</h3>
                <br />
                <p>As a study group of Black and People of Color in Tech (BPoCiT) we acknowledge and welcome the various and different needs, experiences and backgrounds of communities of color.</p>

                <p>We are aware that the lack and marginalization of Queer Trans_ Inter_ Black and People of Color/Black and People of Color (QTIBPOC/BPOC) in tech is directly connected to the intersections of race, gender identity and expression, sexual orientation, disability, physical appearance and religion that often lead to barriers or denials of access to education, opportunities, spaces and finances for communities of color. Keeping this in mind, we therefore aim to create a free learning space for Black and People of Color that is built on awareness, empowerment, support and mutual care to provide a welcoming environment for our attendees.</p>
                <br />
                <h3>Purpose</h3>
                <br />
                <p>A primary goal of our BPoCiT Study Group is to create an inclusive space with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safer and welcoming environment for our organizers and attendees, regardless of race, gender identity and expression, sexual orientation, disability, socioeconomic status, religious beliefs and physical appearance.

                This Code of Conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.

                We invite all those who participate in our events to help us create a safer space and positive experiences as much as possible for everyone.</p>

                <p>Communities mirror the societies in which they exist. Positive action, pushing back against discrimination, and reflecting on the harmful messages we have all internalised are essential to counteract the many forms of inequality and abuses of power that exist in society.</p>

                <br />
                <h3>Expected Behavior</h3>
                <br />
                <p>Participate in a caring way, in doing so, you contribute to the health and longevity of this community resource. Exercise consideration and respect in your speech and actions. Attempt collaboration and negotiation before conflict. Refrain from demeaning, discriminatory, or harassing behavior and speech. Be mindful of your surroundings and of your fellow participants. Apologise sincerely when you hurt someone. Recognise the effects of your actions are more important than your intent. Intervene directly (or find someone to help) when witnessing abusive behaviour of any degree. Alert the event organisers or community leaders if you notice a dangerous situation, someone in distress, or violations of this code of conduct, even if it seems inconsequential.</p>

                <br />
                <h3>Boundaries</h3>
                <br />
                <p>Unacceptable behaviors include: intimidating, harassing, abusive, discriminatory, derogatory, or demeaning speech or actions by any participant in our space, online networks, and in all related events and communications.</p>

                <p>Harassment includes: harmful or prejudicial verbal or written comments related to race, gender identity or expression, sexual orientation, disability, ethnicity, socioeconomic status, religious beliefs, or physical appearance; inappropriate use of nudity or sexual images in public spaces (including presentation slides); deliberate intimidation, stalking or following; non-consensual photography or recording; sustained disruption of work or events; inappropriate physical contact, and unwelcome sexual attention.</p>

                <br />
                <h3>Consequences of Violations</h3>
                <br />
                <p>Unacceptable behavior from any attendee, including event organisers will not be tolerated. Anyone asked to cease a violating behaviour is expected to comply immediately.

                We may additionally decide to take any action we deem appropriate, up to and including a temporary or permanent ban from our BPoCiT Study Group.</p>

                <p>Workshop facilitators that we invite as external guests in the future may not be refunded if they violate our Code of Conduct.</p>

                <br />
                <h3>Reporting Guidelines</h3>
                <br />
                <p>If you are subject to unacceptable behavior, harassment, or have any other concerns, please notify an event organizer, or other community member as soon as possible.</p>

                <p>If you witness unacceptable behaviour, intervene immediately by addressing both parties directly, to tell the first person their behaviour is inappropriate, and to ask the second person what they would need to feel safer or would like to have done about the situation, as well as notifying a an event organiser. Definitionsmacht or definitory power (the right of the person being harassed to define what constitutes harassment as well as to contribute in outlining the consequences for said behaviour) applies here.</p>

                <br />
                <h3>Addressing Grievances</h3>
                <br />
                <p>If you feel you have been falsely or unfairly accused of violating this Code of Conduct, you should notify an event organiser with a concise description of your grievance. Your grievance will be handled in accordance to our community values.</p>

                <br />
                <h3>Licence</h3>
                <br />
                <p>This Code of Conduct has been derived from the <a href="http://berlincodeofconduct.org"><strong>Berlin Code of Conduct</strong></a> and <a href="http://co-up.de/code-of-conduct.html"><strong>co.up</strong></a> that is published under the Creative Commons share-alike-by license. The text of this <strong><a href="https://github.com/bpocit/website/blob/master/CODEOFCONDUCT-v1-0.md">Code of Conduct // Communities of Color</strong> (<strong>v1.0</strong>)</a> document can be republished (with or without modifications) under the same conditions.</p>
          </section>
