<!-- Docs Section -->
<section id="docs">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Docs</h2><br />
                <h3 class="section-subheading">Please select and learn more about the topics listed below.</h3>
            </div>
        </div>
        <div class="container">
          <div class="col-lg-12 text-center">
            <div class="row">
                <div class="col-lg-3 center grid-wrap grid-box grid-darkmagenta">
                    <h3 class="grid-text"><a href="#">HTML/CSS</a></h3>
                </div>
                <div class="col-lg-3 grid-wrap  grid-box grid-darkslateblue">
                    <h3 class="grid-text"><a href="#">JavaScript</a></h3>
                </div>
                <div class="col-lg-3 grid-wrap  grid-box grid-darkviolet">
                    <h3 class="grid-text"><a href="#">Free Operating Systems</a></h3>
                </div>
                <div class="col-lg-3 grid-wrap  grid-box grid-plum">
                    <h3 class="grid-text"><a href="#">IT & Security</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 grid-wrap grid-box grid-mintgreen">
                  <div class="row">
                    <h3 class="grid-text"><a href="#">Sessions</a></h3>
                  </div>
                </div>
                <div class="col-lg-3 grid-wrap  grid-box grid-limegreen">
                  <div class="row">
                    <h3 class="grid-text"><a href="#">Workshops</a></h3>
                  </div>
                </div>
                <div class="col-lg-3 grid-wrap  grid-box grid-winered">
                  <div class="row">
                    <h3 class="grid-text"><a href="#">Talks</a></h3>
                  </div>
                </div>
                <div class="col-lg-3 grid-wrap  grid-box grid-skyblue">
                  <div class="row">
                    <h3 class="grid-text"><a href="#">Awwwsome!</a></h3>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>
