<!-- Events Section -->
<section id="events" class="bg-lightblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Events Calendar</h2>
                <h3 class="section-subheading">We meet every <strong>second</strong> and <strong>fourth thursday</strong> of a month from <strong>7:30pm - 10pm</strong> at the co-working space <strong><a href="https://co-up.de">co.up</a></strong> (5th floor) for which the seats are limited to <strong>max. 12 people</strong> per session. If you are interested to join us, we are happy to receive your <a href="#contact">message</a>.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="container">
                <div id='calendar'></div>
              </div>
          </div>
    </div>
</section>
