<!-- Events Section -->
    <section id="events" class="bg-light-slate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events Calendar</h2>
                    <h3 class="section-subheading">As our hosting spaces are limited per session</strong>, we kindly ask you to RSVP for our free events. </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h4>#2 Let's tutorial together html/css for beginners! <br/>2016, Sept 21, 7:30 pm - 10:00 pm<br/>// Altes Finanzamt</a>, Schönstedtstr. 7, 12043 Berlin //</h4>
                  <tito-widget event="bpocit-study-group-events/session-2-let-s-tutorial-together-html-css"></tito-widget>
                  <h4>#3 Let's tutorial together html/css for beginners! <br/>2016, Oct 5, 7:30 pm - 10:00 pm @TBA (Berlin)</h4>
                  <tito-widget event="bpocit-study-group-events/session-3-let-s-tutorial-together-html-css"></tito-widget>
                  <h4>#4 Let's tutorial together html/css for beginners! <br/>2016, Oct 19, 7:30 pm - 10:00 pm @TBA (Berlin)</h4>
                  <tito-widget event="bpocit-study-group-events/session-4-let-s-tutorial-together-html-css"></tito-widget>
                </div>
              </div>
        </div>
    </section>
