<section id="html-css" class="bg-lightblue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">HTML/CSS</h2>
              <h3 class="section-subheading">Learning material for web & html/css</h3>
                <ul>
                  <h4>Beginners</h4>
                  <br>
                  <li><a href="https://bento.io/track/web-fundamentals">Web Fundamentals</a></li>
                  <li><a href="https://www.freecodecamp.com">HTML & CSS</a></li>
                  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Getting_started">CSS - Getting Started</a></li>
                  <li><a href="http://opentechschool.github.io/html-css-beginners/en/index.html">HTML/CSS Beginners</a></li>
                  <li><a href="http://www.w3schools.com/html/default.asp">HTML</a></li>
                  <li><a href="http://www.w3schools.com/css/default.asp">CSS</a></li>
                </ul>
                <br>
                <ul>
                  <h4>Advanced</h4>
                  <br>
                  <li><a href="https://www.codecademy.com/skills/make-an-interactive-website">Make an interactive Website</a></li>
                  <li><a href="http://flexboxfroggy.com/">Flexbox Froggy</a></li>
                  <li><a href="http://opentechschool.github.io/advanced-css/">Advanced CSS</a></li>
                </ul>
             </div>
        </div>
    </div>
</section>
