<!-- Progress Section -->
    <section id="progress">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Progress</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016, August</h4>
                                    <h4 class="subheading">Idea & Talk</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In august 2016 two of us met to talk about the idea of a new study group for Black and People of Color.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016, Sept 7</h4>
                                    <h4 class="subheading">BPoCiT Study Group Start</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In sept 2016 we facilitated our first session with a short <strong>workshop on html/css</strong> by a guest developer from London.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016, Sept 21/ Oct 5/ Oct 19</h4>
                                    <h4 class="subheading">Let's tutorial HTML/CSS together! </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We want to come together and work on <strong>codecademy</strong><a href="https://codecademy.com/learn/web"> html/css online tutorials for beginners </a>. Seats are limited to <strong>max. 7-10 people</strong> per session. <br/>Please <a href="#">register</a> for each session!</p>
                                </div>
                            </div>
                        </li>
                      <!--   <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
