<!-- Why Section -->
    <section id="why" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Coding?</h2><br />
                    <h3 class="section-subheading">Learning to code is a long way to go and requires a lot of passion, time, (self-)motivation and a supportive environment.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <h5>Benefits</h5>
                  <br />
                  <ul>
                      <li>Coding challenges you every day, you never stop to learn and to find solutions for ideas and problems.</li>
                      <li>Coding makes you more independent because you can turn your ideas into real projects either for business, private reasons or social change.</li>
                      <li>Coding brings you into the discussion as a maker, creator or leader as your knowledge, skills and interests grow.</li>
                      <li>Coding increases your confidence and chances in the job market because developers and designers are highly requested.</li>
                  </ul>
                  <br />
                  <h5>Things to consider</h5>
                  <br />
                  <ul>
                    <li>You don't need to be good at mathematics or a science genius in order to start coding. Analytic thinking is something that you will learn as you practice.</li>
                    <li>You can learn coding for so many reasons without the intention to become a developer or designer.</li>
                    <li>You don't need to know everything, it's okay to have gaps. However, in most cases it's enough to find the source to a solution.</li>
                    <br />
                    <li>If you want to become a developer, try to learn coding every day even if it's just a tiny task for 30 min..</li>
                    <li>Being a great developer means the ability to socialize, share, support and motivate others instead of bragging and competing with your knowledge.</li>
                    <li>The tech world can become very overwhelming, especially at events. It's totally fine to log off a computer and disappear for a while.</li>
                    <li>If a person or a peer group in tech makes you feel uncomfortable because of racist, sexist, classist, ableist or any other discriminatory behavior, it's important to report this and to get yourself away from this toxic environment. There are individuals, peer groups and initiatives that will support you. Try to find them and build your own network on support, trust and empathy!</li>
                </div>
              </div>
        </div>
    </section>
